.section-header {
	text-transform: uppercase;
	font-family: arial;
	font-size:12px;
	font-weight: 600;
	color: #cccccc;
	border-bottom:1px solid #cccccc;
}

.cz-logo {
	color:black;
	font-size:28px;
	font-family: 'Audiowide', cursive;
}